.qr-container {
    background-color: rgba(31, 29, 43, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 1260px;
    height: 600px;
}
.qr-card {
    background-color: rgba(37, 40, 54, 1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 1200px;
}
.qr-title {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
}
.qr-label {
    color: #ddd;
    font-size: 14px;
    margin-bottom: 5px;
    display: inline-block;
}
.qr-input {
    background-color: #3e3a55;
    color: #fff;
    border: 1px solid #56517e;
    border-radius: 8px;
    font-size: 14px;
}
.qr-input:focus {
    border-color: #836aff;
    box-shadow: 0 0 5px rgba(131, 106, 255, 0.5);
    outline: none;
}
.thematic-section {
    margin-top: 20px;
}
.thematic-icons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.thematic-box {
    width: 80px;
    height: 80px;
    background-color: rgba(37, 40, 54, 1);
    border: 2px solid #56517e;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s;
}
.thematic-box:hover {
    border-color: #836aff;
    transform: scale(1.1);
}
.download-btn {
    background-color: #fbbf24;
    color: #1f1b2e;
    padding: 10px 30px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.download-btn:hover {
    background-color: #f9a825;
    transform: scale(1.05);
}
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #fff;
    position: relative;
    margin-right: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}
input[type="radio"]:checked {
    background-color: rgba(202, 146, 61, 1);
    border-color: #fff;
}

@media (max-width: 1200px) {
    .qr-input {
      font-size: 0.85rem;
    }
    .qr-title {
      font-size: 1.3rem;
    }
  }
  
  @media (max-width: 992px) {
    .qr-card {
      padding: 15px;
    }
  }

  @media (max-width: 1024px) {
    .qr-container{
        width: 765px;
    }
  }
  
  @media (max-width: 768px) {
    .qr-container {
        width: 100%; 
        padding: 8px;
        height: auto;
    }

    .qr-card {
        padding: 15px;
        max-width: 500px; 
        margin: 0 auto; 
    }

    .qr-title {
        font-size: 1.2rem; 
        margin-bottom: 20px;
    }

    .qr-label {
        font-size: 12px; 
    }

    .qr-input {
        font-size: 12px; 
        padding: 6px; 
    }

    .download-btn {
        font-size: 14px;
        padding: 8px 20px; 
    }

    .thematic-box {
        width: 80px; 
        height: 80px;
    }
    
    input[type="radio"] {
        width: 16px; 
        height: 16px;
    }
}

 